<div data-page="chat" class="page" ng-controller="ChatController">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
            <a href="login.html" class="back link">
                <i class="icon icon-back"></i>
            </a>
        </div>
        <div class="center sliding"><i class="fa fa-paper-plane" aria-hidden="true"></i><h3>SendChat ({{chat.length}})</h3></div>
        <div class="right">

        </div>
      </div>
    </div>
    <div class="page-content messages-content" style="padding-top: 60px; height: 92vh;background-color: rgb(19,19,19);color: white">
        <div class="messages">
            <div ng-repeat="msj in chat" ng-class="{'message':true, 'message-sent': msj.owner._id==user.id, 'message-received': msj.owner._id!=user.id, 'message-with-avatar': true}">
                <div ng-if="msj.owner.username" class="message-name">{{msj.owner.username}}</div>
                <div class="message-text">{{msj.text}}</div>
                <div style="background-image:url({{::msj.owner.avatar}})" class="message-avatar"></div>
                <div class="message-label">{{msj.createdOn | date:'medium'}}</div>
            </div>
        </div>
    </div>
    <div class="toolbar messagebar messagebar-init">
        <div class="toolbar-inner">
            <textarea placeholder="Mensaje" ng-model="mensajeInput"></textarea><a ng-click="enviarMensaje()" class="link">Enviar</a>
        </div>
    </div>
</div>
